<label for="blog-title">Title:</label><br>
<input id="blog-title" name="entry[title]" type="text" value="<%= @entry.title %>"><br><br>

<label for="blog-body">Body:</label><br>
<textarea rows="4" cols="50" name="entry[body]" value="<%= @entry.body %>"></textarea><br><br>

<label for="blog-author">Author:</label><br>
<input id="blog-author" name="entry[author]" type="text" value="<%= @entry.author %>"><br><br>
<br><br>

<label for="tag-names-input">Description:</label><br>
<input id="tag-names-input" name="tag_names" type="text" ><br><br>
