<label for="blog-title">Title:</label><br>
<input id="blog-title" name="blog[title]" type="text" value="<%= @entry.title %>"><br><br>

<label for="blog-body">Body:</label><br>
<textarea rows="4" cols="50" name="blog[body]" value="<%= @entry.body %>"></textarea><br><br>

<label for="blog-author">Author:</label><br>
<input id="blog-author" name="blog[author]" type="text" value="<%= @entry.author %>"><br><br>
<br><br>

<label for="blog-tags">Tags:</label><br>
<input id="blog-tags" name="blog_tags" type="text"><br><br>
