<div class="container"><br>
    <form method="post" action="/tags">
      <label for="tag-description-input">Description:</label><br>
      <input id="tag-description-input" name="tag[description]" type="text">

      <br><br>
      <input type="submit" value="Create Tag" class="button">
      </form>
    </main>
  </div>
